$xs-font: 10px;
$sm-font: 14px;
$ms-font: 12px; 
$md-font: 16px;
$lg-font: 20px;
$xl-font: 24px;
$xxl-font: 30px;
$xxs-font: 8px;
$xxxs-font: 6px;
$xl-md-font: 18px;

$xs-line-height: 10px;
$sm-line-height: 12px;
$md-line-height: 16px;
$lg-line-height: 16px;
$lgl-line-height: 18px;